:root{
    font-size: 62.5%;
    --cor-principal: #FFFFFF;
    --cor-secundaria:#C0C0C0;
    --cor-fundo-botao: #167BF7;
    --cor-fundo-botao-efeito: #3c92fa;
    --cor-fundo-pagina: #00030C;
    --fonte-principal:'Inter', sans-serif;
}

body{
    background-color: var(--cor-fundo-pagina);
    color: var(--cor-principal);
    font-family: var(--fonte-principal);
    font-size: 1.6rem;
    font-weight: 400;
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.principal{
    background-image: url("../img/Background.png");
    background-repeat: no-repeat;
    background-size: contain;
    align-items: center;
    text-align: center;
}
.container{
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(2, 50%);
}
.container__descricao{
    padding: 2rem;
}
.container__titulo{
    font-size: 2.8rem;
    font-weight: 700;
}
.container__imagem{
    margin: 1rem 0 2.2rem 0;
}
.container__botao{
    background-color: var(--cor-fundo-botao);
    color: var(--cor-principal);
    border-radius: 5px;
    padding: 1.6rem;
    display: block;
    text-decoration: none;
    margin-bottom: 1.6rem;
}
.container__botao:hover{
    background-color: var(--cor-fundo-botao-efeito);
    color: var(--cor-fundo-pagina);
}
.botao_secundario{
    border: 2px solid var(--cor-principal);
    background-color:transparent;
}
.container__aviso{
    font-size: 1.2rem;
    color: var(--cor-secundaria);
}
.container__caixa{
    margin: 0 6rem;
}
.secundario{
    align-items: center;
    margin: 0 10rem;
}
.secundario__imagem{
    width: 80%;
}
.descricao__titulo{
    font-weight: 700;
    font-size: 3.6rem;
    color: var(--cor-principal);
    margin-bottom: 0.1rem;
}
.descricao__texto{
    color: var(--cor-secundaria);
}
.secundario__botao{
    display: inline-block;
    margin-top: 1rem;
}
.dispositivos{
    text-align: center;
}
.dispositivos__titulo{
    font-size: 4.8rem;
}
.dispositivos__lista{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    list-style-type: none;
    margin: 5rem 0;
}
.lista__item{
    font-size: 3.2rem;
    color: var(--cor-principal);
}
.rodape{
    text-align: center;
    margin: 5rem 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}
.rodape__lista{
    display: flex;
    justify-content: center;
    gap: 1rem;
    flex-wrap: wrap;
    margin-top: 1rem;
    list-style-type: none;
}
.lista__link{
    text-decoration: none;
    color: var(--cor-principal);
}
.lista__link a{
    text-decoration: none;
    color: var(--cor-principal);
}
.lista__link a:hover{
    color: var(--cor-fundo-botao);
}
.lista__link a:active{
    color: purple;
}
.rodape__texto{
    font-size: 1.4rem;
    color: var(--cor-secundaria);
}

/* TESTANDO TAMANHOS DE MEDIA */

@media screen and (max-width: 600px){
    .principal{
        background-image: none;
    }
    .container{
        display: block;
    }
    .container__caixa{
        margin: 2rem;
        height: 100%;
    }
    .container__titulo{
        font-size: 3.5rem;
        margin-bottom: 9rem;
    }
    .container__imagem{
        width: 80%;
    }
    .container__botao{
        max-width: 80%;
        margin: 0 auto 1.6rem;
    }
    .secundario__botao{
        margin-top: 1rem;
    }
    .secundario{
        margin: 0 2rem;
        text-align: center;
    }
    .dispositivos__titulo{
        font-size: 4rem;
    }
   
}
@media screen and (min-width:601px) and (max-width:768px) {
    
}