:root{
    font-size: 62.5%;
    --cor-principal: #FFFFFF;
    --cor-secundaria:#C0C0C0;
    --cor-fundo-botao: #167BF7;
    --cor-fundo-botao-efeito: #3c92fa;
    --cor-fundo-pagina: #00030C;
    --fonte-principal:'Inter', sans-serif;
}

body{
    background-color: var(--cor-fundo-pagina);
    color: var(--cor-principal);
    font-family: var(--fonte-principal);
    font-size: 16px;
    font-weight: 400;
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.principal{
    background-image: url("../img/Background.png");
    background-repeat: no-repeat;
    background-size: contain;
    align-items: center;
    text-align: center;
}
.container{
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(2, 50%);
}
.container__descricao{
    padding: 2em;
}
.container__titulo{
    font-size: 28px;
    font-weight: 700;
}
.container__imagem{
    margin: 1em 0 2em 0;
}
.container__botao{
    background-color: var(--cor-fundo-botao);
    color: var(--cor-principal);
    border-radius: 5px;
    padding: 1em;
    display: block;
    text-decoration: none;
    margin-bottom: 1em;
}
.container__botao:hover{
    background-color: var(--cor-fundo-botao-efeito);
    color: var(--cor-fundo-pagina);
}
.botao_secundario{
    border: 2px solid var(--cor-principal);
    background-color:transparent;
}
.container__aviso{
    font-size: 12px;
    color: var(--cor-secundaria);
}
.container__caixa{
    margin: 0 6em;
}
.secundario{
    align-items: center;
    margin: 0 10em;
}
.secundario__imagem{
    width: 80%;
}
.descricao__titulo{
    font-weight: 700;
    font-size: 36px;
    color: var(--cor-principal);
    margin-bottom: 0.1em;
}
.descricao__texto{
    color: var(--cor-secundaria);
}
.secundario__botao{
    display: inline-block;
    margin-top: 1em;
}
.dispositivos{
    text-align: center;
}
.dispositivos__titulo{
    font-size: 48px;
}
.dispositivos__lista{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    list-style-type: none;
    margin: 5em 0;
}
.lista__item{
    font-size: 32px;
    color: var(--cor-principal);
}
.rodape{
    text-align: center;
    margin: 5em 3em;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1em;
}
.rodape__lista{
    display: flex;
    justify-content: center;
    gap: 1em;
    margin-top: 1em;
    list-style-type: none;
}
.lista__link{
    text-decoration: none;
    color: var(--cor-principal);
}
.lista__link a{
    text-decoration: none;
    color: var(--cor-principal);
}
.lista__link a:hover{
    color: var(--cor-fundo-botao);
}
.lista__link a:active{
    color: purple;
}
.rodape__texto{
    font-size: 14px;
    color: var(--cor-secundaria);
}